html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@font-face {
	font-family: 'Walkway Expand UltraBold';
	src: url('Walkway Expand UltraBold.ttf');
	font-family: 'Walkway Black';
	src: url('Walkway Black.ttf');
}
body {
      font: 400 15px/1.8;
      color: #777;
	  overflow-x: hidden; 
	/* font-family: 'Walkway Expand UltraBold';*/
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
	  
  }
  
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  /*LogoDiv*/
  .centerDiv{
	 margin-top:49px;
	background-image:url('/img/galaxy.png');
	    background-repeat: no-repeat;
  }
  .fit { /* set relative picture size */
    max-width: 50%;
    max-height: 50%;
  }
  .center {
    display: block;
    margin: auto;

  }
  /*Divs*/
  .bg-1 {
      background: #663399;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  
  /*Event div and Modal*/
  .list-group
  .list-group-item:first-child {
	  color:black;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item {
	  color:black;
	  font-family: 'Walkway Expand UltraBold';
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .modal-footer, p{
	   text-align: center;
  }
  /*Navbar*/
  .nav-tabs li a {
      color: #777;
  }
  .navbar {
     font-family: 'Walkway Black';
      margin-bottom: 0;
      background-color: #663399;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      background-color: #663399 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  /*Footer*/
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
/*Event Section and Modal*/
  #e1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#e1:hover {opacity: 0.7;}

#e2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#e2:hover {opacity: 0.7;}

/* Modal Content (image) */
.detailsModal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.detailsModal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.detailsP{
	color:black;
	font-family: 'Walkway Expand UltraBold';
}

.featuring{
	color:black;
}
.featuringTxt{
	font-family: 'Walkway Black';
}
.aboutTxt{
	font-family: 'Walkway Black';
	font-size: 24pt;
	text-decoration: underline;
}

.aboutTxtP{
	font-family: 'Walkway Expand UltraBold';
	color:black;
}

.text-center{
	font-family: 'Walkway Expand UltraBold';
}

.addressTxt{
		font-family: 'Walkway Expand UltraBold';
}

.detailsH4{
	font-family: 'Walkway Black';
}

.dateTxt{
		font-family: 'Walkway Expand UltraBold';
}


/*Team Section*/
.teamCon{
	 text-align: center;
	 padding: 80px 120px;
}
.teamCon h3{
	font-family: 'Walkway Black';
	font-size: 24pt;
	text-decoration: underline;
}
.teamCon p{
	font-family: 'Walkway Expand UltraBold';
	color:black;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
/*Contact Section*/
.contactContainer {
       background: #663399;
      color: #bdbdbd;
	   padding: 80px 120px;
  }
  
.contactTxt{
	font-family: 'Walkway Black';
	font-size: 24pt;
	color:white;
	text-align: center;
}

.contactPTxt{
	font-family: 'Walkway Black';
	color:white;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (min-width: 320px){
.aboutTxt{
	font-family: 'Walkway Black';
	font-size: 12pt;
	text-decoration: underline;
	font-weight:bold;
}
.aboutTxtP{
	font-family: 'Walkway Expand UltraBold';
	color:black;
	width:100%;
}
.badge{
		visibility:hidden;
	}
.container {
      padding: 0 0px;
	  
  }
}
@media screen and (min-width: 480px) {
.badge{
	visibility:hidden;
}
.aboutTxt{
	font-family: 'Walkway Black';
	font-size: 24pt;
	text-decoration: underline;
}

.aboutTxtP{
	font-family: 'Walkway Expand UltraBold';
	color:black;
}
.badge{
	visibility:visible;
}
.container {
    padding: 80px 120px;
}
}
@media only screen and (min-width: 700px){
    .modal-content {
        width: 100%;
    }
}


